<div ng-controller="calculatorCtrl">
    <h2>Simple Calculator</h2>
    <input type="number" ng-model="num1" placeholder="Enter first number">
    <input type="text" ng-model="operator" placeholder="Enter operator (+, -, *, /)">
    <input type="number" ng-model="num2" placeholder="Enter second number">
    <button ng-click="calculate()">Calculate</button>
    <p ng-if="result !== null">Result: {{ result }}</p>
</div>

<script>
    var app = angular.module('ankitapp');
    app.controller('calculatorCtrl', function($scope) {
      $scope.num1 = null;
      $scope.num2 = null;
      $scope.operator = '';
      $scope.result = null;

      $scope.calculate = function() {
        if ($scope.num1 !== null && $scope.num2 !== null && $scope.operator !== '') {
          switch ($scope.operator) {
            case '+':
              $scope.result = $scope.num1 + $scope.num2;
              break;
            case '-':
              $scope.result = $scope.num1 - $scope.num2;
              break;
            case '*':
              $scope.result = $scope.num1 * $scope.num2;
              break;
            case '/':
              $scope.result = $scope.num1 / $scope.num2;
              break;
            default:
              $scope.result = null;
          }
        }
      };
    });
</script>
