<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app="calculatorApp" ng-controller="calculatorCtrl">
        <h1>AngularJS Calculator</h1>
        <input type="number" ng-model="num1" placeholder="Enter first number"><br><br>
        <input type="number" ng-model="num2" placeholder="Enter second number"><br><br>
        <button ng-click="add()">Add</button>
        <button ng-click="subtract()">Subtract</button>
        <button ng-click="multiply()">Multiply</button>
        <button ng-click="divide()">Divide</button><br><br>
        <p>Result: {{result}}</p>
    </div>

    <script>
        var app = angular.module('calculatorApp', []);

        app.controller('calculatorCtrl', function ($scope) {
            $scope.add = function () {
                $scope.result = $scope.num1 + $scope.num2;
            };

            $scope.subtract = function () {
                $scope.result = $scope.num1 - $scope.num2;
            };

            $scope.multiply = function () {
                $scope.result = $scope.num1 * $scope.num2;
            };

            $scope.divide = function () {
                $scope.result = $scope.num1 / $scope.num2;
            };
        });
    </script>
</body>
</html>
