<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>
	<servlet-name>loginServlet</servlet-name>
	<servlet-class>com.servlet.loginServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>loginServlet</servlet-name>
	<url-pattern>/loginServlet</url-pattern>
</servlet-mapping>

</web-app>
