<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!-- <script src="script.js"></script> -->
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-controller="registerCtrl">
    <div class="container">
        <h2>Register</h2>
        <form ng-submit="register()">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" ng-model="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" ng-model="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <div ng-show="error" class="error">{{error}}</div>
    </div>
</body>
</html>